[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[commit]
	verbose = true
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[push]
	default = simple
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.office365.com
	smtpserverport = 587
	smtpuser = samy.hussaein@epita.fr
[alias]
		a = add *
		st = status
		re = remote
		lone = log --oneline
		lonee = log --oneline --max-count=17
		c = commit -m
		ps = push
		pl = pull
		rsh = reset --hard
[credential]
	helper = cache
[user]
	name = Samy Hussaein
	email = samy.hussaein@epita.fr
